<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.born2go.englishtalking">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.born2go.englishtalking.ESFApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Splash screen -->
        <activity
            android:name="com.born2go.englishtalking.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.born2go.englishtalking.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.born2go.englishtalking.DetailsActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.born2go.englishtalking.MainActivity" />
        </activity>
        <activity
            android:name="com.born2go.englishtalking.VideoListDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data
                android:name="@string/minVersion"
                android:value="13" />
            <meta-data
                android:name="@string/isLaunchableActivity"
                android:value="true" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.born2go.englishtalking.MainActivity" />
        </activity>
    </application>

</manifest>